apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: adguard-data
  namespace: adguard-home
  labels:
    app: adguard-home
  annotations:
    argocd.argoproj.io/sync-options: Prune=false  # Don't delete existing PVC
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: standard
  resources:
    requests:
      storage: 10Gi
